%center
  .dropShadow#ieMessage
    %table
      %tr
        %td.topLeft 
        %td.top 
        %td.topRight 
        
      %tr
        %td.left
        %td.center
          %h3 Warning
          Schedulr does technically "work" in Internet Explorer.  I might even call it bearable in IE 8.
          %br
          However, we highly recommend you use a better browser.
          %br
          Schedulr WILL regularly crash IE 6 and 7.
          %br
          %br
          %table
            %tr
              %td <img src='/images/browsers/opera.jpg' />
              %td <img src='/images/browsers/chrome.jpg' />
              %td <img src='/images/browsers/safari.jpg' />
              %td <img src='/images/browsers/firefox.jpg' />
            %tr
              %td 
                %strong <a href='http://opera.com'>Opera</a>
              %td 
                %strong <a href='http://google.com/chrome'>Chrome</a>
              %td 
                %strong <a href='http://apple.com/safari'>Safari</a>
              %td 
                %strong <a href='http://firefox.com'>Firefox</a>
             
          %br
          If you want to live on the wild side, you can 
          %br
          %strong <a href='/main/useie'>continue at your own perl</a>.
             
        %td.right
        
      %tr
        %td.bottomLeft
        %td.bottom
        %td.bottomRight