- unless Rails.env == 'production' || Rails.env == 'staging'
  = stylesheet_link_tag 'reset', 'aristo', 'main', 'dropShadow', 'drilldown', 'schedule', 'shadowbox', 'messages', 'messagesImpl'
- else 
  = stylesheet_link_tag 'stylesheets'

= stylesheet_link_tag 'print', :media => 'print'

= yield :head
