#tutorialSlides
  %a#tutorialLink{:rel => 'shadowbox[Tutorial]', :href => image_path('/images/tutorial/drillDown.png')}
  %a{:rel => 'shadowbox[Tutorial]', :href => image_path('/images/tutorial/filters.png')}
  %a{:rel => 'shadowbox[Tutorial]', :href => image_path('/images/tutorial/schedule.png')}
  %a{:rel => 'shadowbox[Tutorial]', :href => image_path('/images/tutorial/scheduleControls.png')}
  %a{:rel => 'shadowbox[Tutorial]', :href => image_path('/images/tutorial/scheduleSharing.png')}