*~
*.log
public/javascripts/javascripts.js
public/stylesheets/stylesheets.css
tmp/javascripts_uncompressed.js
tmp/stylesheets_uncompressed.css
parser/html/*
public/javascripts/generated/*
tmp/sass-cache
public/stylesheets/*.css
Gemfile.lock
tmp/pids
tmp/*.css
tmp/*.js
db/backup
.sass-cache
public/javascripts/downloaded/*
*.sql
config/database.yml
certs
log
