This will delete all schedules.
Are you sure?

Empty:<br />
<a href='/admin/empty?all=#{params[:all] == 'true'}'>/admin/empty?all=#{params[:all] == 'true'}</a>
<br /><br />
Don't Empty:<br />
<a href='/admin'>/admin</a>