Hello #{@user.full_name}

= @schedule.person.full_name
has shared a schedule with you using Schedulr.

Visit Schedulr at <a href='https://www.betterschedulr.com'>https://www.betterschedulr.com</a> to view it.
