%p <strong>NOTE:</strong> Schedulr will not print background colors by default.
%p If you want to print the schedule's background colors, then you need to tell your printer to do that.
%br
%p Here's How:
%p <strong>Firefox:</strong> Go To File -> Print Preview -> Page Setup -> Check the 'Print Background Colors' option. (This only needs to be done once).
%p <strong>IE 9:</strong> Click the Gear in the Top Right Corner -> Page Setup -> Check the 'Print Background Colors' option. (This only needs to be done once).
%p <strong>Chrome:</strong> In the 'Color' drop down, make sure it is set to 'Color'.

%div{:style => 'text-align: center;'}
  %a.blackButton{:href => 'javascript:print();'} Print