- var data = {'class': 'class'};
- var c = 'class';

%div{data}
%div{ data }
%div{class: 'class'}
%div{ class: 'class' }
%div{class: 'class', id: 'id'}
%div{ class: 'class' , id: 'id'}
%div{class: 'class', id: 'id', title: '{class: \'class\', id: "class"", :noob => /noob/}'}

%div{:class => :class}
%div{:class => :class, :id => :id}
%div{'class' => 'class', 'id' => 'id'}
%div{:class => 'class', :id => 'id', :title => '{class: \'class\', id: "class"", :noob => /noob/}'}
%div{:class => 'class', :id => 'id', :title => 'test'+([1, 2].join(''))}
%div{:class => 'class', :id => 'id', :title => 'test'+([1, 2].join('')), :alt => 'alt'}
%div{:class => 'class', :id => 'id', :title => ({key: 'value'}).key+'test'+([1, 2].join('')), :alt => 'alt'}

%div(data)
%div( data )
%div(class='class')
/%div( class ='class' )
%div(class=c)
%div(class='class' id='id')
%div(class='class' id='id' title='{class: \'class\', id: "class"", :noob => /noob/}')
%div(class='class' id='id' title='(class=\'class\' id="class"" noob=/noob/}')
%div(class='class' id='id' title='test'+([1, 2].join('')))
%div(class='class' id='id' title='test'+([1, 2].join('')) alt='alt')
%div(class='class' id='id' title=({key: 'value'}).key+'test'+([1, 2].join('')) alt='alt')

%div(data)(id='id'){title: 'title'}{:alt => 'alt'}