.message{:style => "margin-bottom: 10px"}
  %center
    %img{:src => image_path("/images/failure.png")}
  Schedulr has encountered an error attempting to connect to its Google Calendar counterpart. 
  If you deleted the calendar within Google Calendar, and/or wish for Schedulr to create a new caledar 
  click "Export to New Calendar", otherwise you can close this message and try again.
.other{:style => "margin-bottom: 10px"}= error