.message{:style => "margin-bottom: 10px"} 
  You will now be redirected to a <a href="http://code.google.com/apis/accounts/" 
  target="_blank">Google Authentication</a> page that will ask you if you want to allow 
  Schedulr to access your Google calendars.  Don't worry, Schedulr will not modify any of 
  your existing calendars.  If you wish to proceed, click 'continue',  otherwise you can close 
  this message and continue scheduling.
.other{:style => "margin-bottom: 10px"}
  Note: You will have to click the export button again when redirected back to Schedulr.