.subPage#loginTable
  %h1 Change your Schedulr Password
  
  %p Enter your new password below.
  %p Your password should be at least 8 characters long and contain a mix of letters, numbers and symbols, however, it is your choice.
  
  = form_for :person, :url => {:action => 'reset_password'} do |form|
    %input{:type => 'hidden', :name => 'secret', :value => @secret}
    
    %label Password: 
    = form.password_field :password
    
    %label Confirm Password:
    = form.password_field :password_confirmation
    %br
    
    = form.submit 'Change Password'