.subPage
  %h1 Check your Email!
  
  %p An email has been sent to you that contains a link in order to validate that you own this email address.
  %p When you click the link, you will be allowed to create a password and login to Schedulr.
  %p Thanks!
  %br